QWidget {
	background-color: #fff;
}

QLabel {
	/* border: 1px solid #000; */
	text-align: center;
	background-color: transparent;
	font: 18px #222 Arial "sans-serif";
	width: 100%;

}

QFrame {
	border: 1px solid #f00;
	width: 100%;	
	height: 100%;
}

QPushButton {
	background-color: #349ad3;
	border: none;
	padding: 15px;
	border-radius: 2px;
}

QPushButton:hover {
	background-color: #2b79a7;
}

h1 {
	color: #349ad3;
}